In [6]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text

import re

In [7]:
engine = create_engine('postgresql://webanalysis:ramisdstu@localhost/webanalysis')

In [8]:
city = 'Москва'
drop_features = ['id','link', 'name', 'address', 'price', 'city']

In [9]:
qry = f"""SELECT ff.*, fa.width, fa.long
                        FROM float_float ff
                        JOIN float_addrescoord fa ON ff.address = fa.address
                        WHERE city = '{city}' """

In [10]:
df = pd.read_sql(text(qry), engine)
df

,id,link,price,cntroom,floor,maxfloor,livingarea,totalarea,kitchenarea,year,...,lavatory,balkonlodge,price2,typeofhouse,name,address,city,district,width,long
0,5671,https://www.cian.ru/sale/flat/296084770/,99000000,3,7,24,74.0,93.00,NaN,2021.0,...,2 совмещенных,1 лоджия,1064516,Монолитный,"Продается 3-комн. квартира, 93",Москва ЦАО р-н Пресненский Мантулинская ул. 9к5,Москва,ЦАО,55.754031,37.543138
1,5556,https://www.cian.ru/sale/flat/296921017/,48200498,3,6,10,43.8,90.50,7.7,NaN,...,None,None,532602,Монолитнокирпичный,"Продается 3-комн. квартира, 90,5",Москва ЗАО р-н Филевский парк Береговой проезд 2,Москва,ЗАО,55.542115,37.428486
2,4893,https://www.cian.ru/sale/flat/300154266/,49900000,4,2,25,180.0,236.00,20.0,2000.0,...,2 совмещенных,None,211441,Монолитнокирпичный,"Продается 4-комн. квартира, 236",Москва ЗАО р-н Можайский Можайское ш. 2,Москва,ЗАО,55.728003,37.443533
3,4894,https://www.cian.ru/sale/flat/301807583/,50000000,4,14,39,48.0,89.00,16.0,2022.0,...,2 совмещенных,None,561798,None,"Продается 4-комн. квартира, 89",Москва ЗАО р-н Раменки ул. Лобачевского 120к1,Москва,ЗАО,55.728003,37.443533
4,4895,https://www.cian.ru/sale/flat/295109969/,50000000,4,32,39,62.0,109.00,18.0,2022.0,...,2 совмещенных,None,458716,None,"Продается 4-комн. квартира, 109",Москва ЗАО р-н Раменки ул. Лобачевского 120к1,Москва,ЗАО,55.728003,37.443533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181,6064,https://www.cian.ru/sale/flat/299282134/,39641613,3,2,44,NaN,84.20,NaN,NaN,...,None,None,470803,Монолитный,"Продается 3-комн. квартира, 84,2",Москва СВАО р-н Марьина роща ул. 4-я Марьиной ...,Москва,СВАО,55.796977,37.624687
4182,6065,https://www.cian.ru/sale/flat/299370738/,39872400,3,3,6,NaN,89.40,NaN,NaN,...,None,None,446000,Монолитный,"Продается 3-комн. апартаменты, 89,4",Москва СЗАО р-н Хорошево-Мневники ул. Саляма А...,Москва,СЗАО,55.773236,37.467904
4183,6066,https://www.cian.ru/sale/flat/293376124/,42282840,3,7,41,45.4,111.78,16.0,NaN,...,"1 совмещенный, 1 раздельный",None,378268,Монолитный,"Продается 3-комн. квартира, 111,78",Москва ЦАО р-н Пресненский Шмитовский проезд 39,Москва,ЦАО,55.752116,37.526609
4184,6067,https://www.cian.ru/sale/flat/301557228/,37240133,3,29,32,27.4,65.30,25.8,NaN,...,"1 совмещенный, 1 раздельный",None,670933,Монолитный,"Продается 3-комн. квартира, 65,3",Москва СЗАО р-н Хорошево-Мневники Причальный п...,Москва,СЗАО,55.760646,37.516036
4185,6070,https://www.cian.ru/sale/flat/301513408/,44088071,3,2,22,NaN,76.40,NaN,NaN,...,None,None,577069,Монолитный,"Продается 3-комн. квартира, 76,4",Москва СВАО р-н Марьина роща Полковая ул. 1С12,Москва,СВАО,55.798723,37.597252

In [11]:
df.drop(columns=drop_features, inplace=True)

In [12]:
df['elevator'] = df['elevator'].astype(str)

In [13]:
def extract_elevator_counts(row):
    # Разбиваем строку по запятой и удаляем лишние пробелы
    parts = [part.strip() for part in row.split(sep=',')]
    # Инициализируем значения по умолчанию
    pas_count = 0
    gruz_count = 0
    
    # Обходим каждую часть строки и извлекаем количество лифтов
    for part in parts:
        if 'пассажир' in part:
            pas_count = int(part.split()[0]) # Извлекаем число перед "пассажирских"
        elif 'груз' in part:
            gruz_count = int(part.split()[0])  # Извлекаем число перед "грузовых"
    
    return pd.Series({'pas': pas_count, 'gruz': gruz_count})

# Применяем функцию к колонке 'elevator' с помощью apply
elevator_counts = df['elevator'].apply(extract_elevator_counts)

# Объединяем результаты с исходным DataFrame
df = pd.concat([df, elevator_counts], axis=1)

In [14]:
df.drop(columns=['elevator'], inplace=True)

In [15]:
df['lavatory'] = df['lavatory'].astype(str)

In [16]:
def split_lavatory(row):
    parts = [part.strip() for part in row.split(',')]  # Разбиваем строку по запятой и удаляем лишние пробелы

    combined = 0
    separate = 0
    
    for part in parts:
        if 'совмещен' in part:
            combined = int(part.split()[0])  # Извлекаем количество совмещенных санузлов
        elif 'раздельн' in part:
            separate = int(part.split()[0])  # Извлекаем количество раздельных санузлов
    
    return pd.Series({'combined': combined, 'separate': separate})

# Применяем функцию к колонке 'lavatory' с помощью apply
lavatory_counts = df['lavatory'].apply(split_lavatory)

# Объединяем результаты с исходным DataFrame
df = pd.concat([df, lavatory_counts], axis=1)

In [17]:
df.drop(columns=['lavatory'], inplace=True)

In [18]:
df['balkonlodge'] = df['balkonlodge'].astype(str)

In [19]:
def split_balkonlodge(row):
    parts = [part.strip() for part in row.split(',')]  # Разбиваем строку по запятой и удаляем лишние пробелы

    lodge = 0
    balkone = 0
    
    for part in parts:
        if 'лодж' in part:
            lodge = int(part.split()[0])  # Извлекаем количество совмещенных санузлов
        elif 'балк' in part:
            balkone = int(part.split()[0])  # Извлекаем количество раздельных санузлов
    
    return pd.Series({'lodge': lodge, 'balkone': balkone})

# Применяем функцию к колонке 'lavatory' с помощью apply
balkonelodge = df['balkonlodge'].apply(split_balkonlodge)

# Объединяем результаты с исходным DataFrame
df = pd.concat([df, balkonelodge], axis=1)

In [20]:
df.drop(columns=['balkonlodge'], inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186 entries, 0 to 4185
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cntroom        4186 non-null   int64
 1   floor          4186 non-null   int64
 2   maxfloor       4186 non-null   int64
 3   livingarea     2985 non-null   float64
 4   totalarea      4186 non-null   float64
 5   kitchenarea    3204 non-null   float64
 6   year           2363 non-null   float64
 7   ceiling        3077 non-null   float64
 8   finishing      888 non-null    object
 9   garbage        1171 non-null   object
 10  heating        2369 non-null   object
 11  parking        2700 non-null   object
 12  repair         2752 non-null   object
 13  window         3037 non-null   object
 14  credit         3005 non-null   object
 15  deal           4184 non-null   object
 16  typeofhousing  4186 non-null   object
 17  price2         4186 non-null   int64
 18  typeofhouse    3317 non-null   object
 19  district       4186 non-null   object
 20  width          4186 non-null   float64
 21  long           4186 non-null   float64
 22  pas            4186 non-null   int64
 23  gruz           4186 non-null   int64
 24  combined       4186 non-null   int64
 25  separate       4186 non-null   int64
 26  lodge          4186 non-null   int64
 27  balkone        4186 non-null   int64
dtypes: float64(7), int64(10), object(11)
memory usage: 915.8+ KB

In [22]:
df['finishing'] = df['finishing'].fillna('Неизвестно')
df['heating'] = df['heating'].fillna('Нет информации')

In [23]:
df.replace('nan', np.nan, inplace=True)
df.replace('Неизвестно', np.nan, inplace=True)

In [24]:
df.credit.replace(np.nan, 'нет', inplace=True)

C:\Users\rshir\AppData\Local\Temp\ipykernel_14932\2814344410.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.credit.replace(np.nan, 'нет', inplace=True)

In [25]:
df.replace('Нет информации', np.nan, inplace=True)

In [26]:
df

,cntroom,floor,maxfloor,livingarea,totalarea,kitchenarea,year,ceiling,finishing,garbage,...,typeofhouse,district,width,long,pas,gruz,combined,separate,lodge,balkone
0,3,7,24,74.0,93.00,NaN,2021.0,NaN,NaN,None,...,Монолитный,ЦАО,55.754031,37.543138,0,0,2,0,1,0
1,3,6,10,43.8,90.50,7.7,NaN,3.20,Без отделки,None,...,Монолитнокирпичный,ЗАО,55.542115,37.428486,22,1,0,0,0,0
2,4,2,25,180.0,236.00,20.0,2000.0,3.00,NaN,None,...,Монолитнокирпичный,ЗАО,55.728003,37.443533,3,3,2,0,0,0
3,4,14,39,48.0,89.00,16.0,2022.0,3.00,NaN,Да,...,None,ЗАО,55.728003,37.443533,3,2,2,0,0,0
4,4,32,39,62.0,109.00,18.0,2022.0,3.10,NaN,Нет,...,None,ЗАО,55.728003,37.443533,5,2,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181,3,2,44,NaN,84.20,NaN,NaN,3.24,Предчистовая,None,...,Монолитный,СВАО,55.796977,37.624687,0,0,0,0,0,0
4182,3,3,6,NaN,89.40,NaN,NaN,3.24,Без отделки,None,...,Монолитный,СЗАО,55.773236,37.467904,0,0,0,0,0,0
4183,3,7,41,45.4,111.78,16.0,NaN,3.10,Без отделки,None,...,Монолитный,ЦАО,55.752116,37.526609,2,2,1,1,0,0
4184,3,29,32,27.4,65.30,25.8,NaN,3.02,NaN,None,...,Монолитный,СЗАО,55.760646,37.516036,0,0,1,1,0,0
4185,3,2,22,NaN,76.40,NaN,NaN,3.00,NaN,None,...,Монолитный,СВАО,55.798723,37.597252,2,1,0,0,0,0

In [27]:
df.to_csv('fixed_floats.csv', index=False)